.error p {
  color: red;
  margin-top: 15px;
}

a{
  text-decoration: none !important;
}

#follow-btn {
  margin-left: 10px;
  display:inline-block;
}

.footer {
  margin-top: 25px;
}

body{
  text-decoration: none
}

li{
  list-style-type: none;
  color: white;
}