.error p{
  color: red;
  margin-top: 15px;
}

a{
  text-decoration: none !important;
}

#follow-btn{
  margin-left: 10px;
  display:inline-block;
}

.footer{
  margin-top: 25px;
}

body{
  text-decoration: none;
  background: #00aced;
}

.match {
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-left: 0 !important;
}

li{
  list-style-type: none;
  color: white;
}

h1, h2, h3, h4, h5, h6{
  color: white;
}